@charset "UTF-8";

/*Reset Total*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*altura total*/
    width: 100vw;
    background-color: black;
}

body {
    /*configurando background*/
    background: url('../imagens/bck3.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    /*posicionar no meio da tela*/
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*configurando frame do iphone|tamanho pelo GIMP*/
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url('../imagens/frame-iphone.png') no-repeat;
    
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}
/*Não pode usar o sinal de > porque não é direto o caminho*/
section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*deixa cada metade redonda*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
    /*para bordar fazer parte da caixa*/
    box-sizing: border-box;
}
/*quando passar o mouse em cima > usa hover*/
section#redes-sociais img:hover {
    border: 2px solid rgb(204, 204, 204);
    transform: translate(-3px, -3px);
    transition: transform 0.5s;
}